<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Gmail Application">

<listeners>
<listener class-name="extentReportListener.ExtentReportNG"/>
</listeners>

    <test name="Test for the Gmail application">
         <classes>
             <class name="com.Gmail.testcases.GmailTest">
              <methods>
                <include name="verify_Gmail_Login_Logout_Functionality"/>
                <exclude name="verify_Gmail_Successful_Signup"/>
              </methods>
              </class>
          </classes>
     </test>
</suite>